/* header

.skin-blue .main-header .navbar {
  background-color: #f8dd38;
} 

.skin-blue .main-header .logo {
    background-color: #f4b943;
    color: #fff;
    border-bottom: 0 solid transparent;
}
body
.content-wrapper, .right-side {
    background-color: #fff;
}*/

.description {
  margin-left: 20px;
  margin-right: 20px;
}

h4.description {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.endnote {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}
