/* header

.skin-blue .main-header .navbar {
  background-color: #f8dd38;
} 

.skin-blue .main-header .logo {
    background-color: #f4b943;
    color: #fff;
    border-bottom: 0 solid transparent;
}
body
.content-wrapper, .right-side {
    background-color: #fff;
}*/

.description {
  margin-left: 20px;
  margin-right: 20px;
}

.sci-name {
  font-style: italic;  
}

.citation {
  margin-left: 14px;
}

h3.description {
  margin-top: 0; 
}

h4.description {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

div.record {
  text-align: center;
  margin-bottom: 20px;
}

.icon-record {
  text-align: right;
  font-size: 20px;
  color: #A9A9A9;
  display:inline; 
}

.icon-gold {
  color: #DAA520;  
}

.icon-info {
  color: #fff;
  font-size: 18px;
}

.btn-small-info {
  /*background-color: rgb(60, 141, 188);*/
  float: right;
  height: 30px;
  width: 30px;
  padding: 0;
}

h4.record {
  font-weight: bold;
  text-align: center;
}

h5.record {
  font-weight: bold;
  text-align: center;
}

.swal-content {
  text-align: left;
}

.endnote {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.description-percentage {
  font-size: 22px;
}

.record-number {
  font-size: 20px;
}

footer {
  position:absolute;
  bottom:0;
  width: 100%;
  height: 150px; /* Height of the footer */
  color: #b8c7ce;
  background-color: #222d32;
  border-top: 1px solid white;
  z-index: 1000;  
}

.footer-content {
  margin: 10px 10px 10px 10px;
}
